{% extends "layouts/base.html" %}
{% load bootstrap4 %}
{% bootstrap_javascript jquery=True %}
{% load i18n %}

{% block content %}

<div class="card my-5">
  <div class="card-body p-5 bg-light text-center">
    <div class="display-4">{% trans "Task manager" %}</div>
    {% if not user.is_authenticated %}
      <p class="lead">{% trans "Log in or sign up to start using Task Manager" %}</p>
      <hr>
      <a class="btn btn-primary btn-lg" href="{% url 'login' %}">{% trans "Log in" %}</a>
      <a class="btn btn-danger btn-lg" href="{% url 'user.create' %}">{% trans "Sign up" %}</a>
    {% else %}
      <p class="lead">{% trans "Welcome!" %}</p>
      <hr>
      <a class="btn btn-primary btn-lg" href="{% url 'tasks.list' %}">{% trans "Tasks" %}</a>
    {% endif %}
  </div>
</div>

{% endblock %}